
<div id="viewport" class="bg-img">
    <!-- Sidebar -->
    <div id="sidebar">
      <header>
        <a href="#">Hello Admin</a>
      </header>
      <ul class="nav list-group">
  
        <li>
            <a href="/viewmacs" class="list-group-item list-group-item-action">
              <i class="zmdi zmdi-calendar"></i> View Mac
            </a>
          </li>
  
          <li>
            <a  href="#" (click)="logout()" class="list-group-item list-group-item-action">
              <i class="zmdi zmdi-info-outline"></i> Log out
            </a>
          </li>
      </ul>
    </div>
</div>